{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <a href="{% url 'add_company' %}" class="btn btn-primary d-block mb-4 add-company-btn">Ajouter une entreprise</a>

  <!-- Tableau des entreprises -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Date d'ajout</th>
          <th>Nombre d'annonces</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in company_data %}
        <tr>
          <td>{{ item.company.name }}</td>
          <td>{{ item.company.formatted_created_at }}</td>
          <td>{{ item.company.job_ads.count }}</td>
          <td>
            <a href="{% url 'company_detail' pk=item.company.id %}" class="btn btn-custom">Voir plus</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
