{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <a href="{% url 'add_company' %}" class="btn btn-primary d-block mb-4 add-company-btn">Ajouter une entreprise</a>

<!-- Tableau des entreprises -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date d'ajout</th>
        <th>@</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in company_data %}
      <tr>
        <td>{{ item.company.name }}</td>
        <td>{{ item.company.formatted_created_at }}</td>
        <td><i class="bi bi-at"></i></td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#companyModal{{ item.company.id }}">
            Voir plus
          </button>
          <a href="{% url 'edit_company' item.company.id %}" class="btn btn-sm btn-warning">Modifier</a>
          <button type="button" class="btn btn-sm btn-danger" onclick="if (confirm('Voulez-vous vraiment supprimer cette entreprise?')) {
              window.location.href = '{% url 'company_delete' item.company.pk %}';
               }">
            Supprimer
          </button>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<!-- Modals pour chaque entreprise -->
{% for item in company_data %}
<div class="modal fade" id="companyModal{{ item.company.id }}" tabindex="-1" aria-labelledby="companyModal{{ item.company.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyModal{{ item.company.id }}Label">{{ item.company.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Site web:</label>
              <p class="limited-width"><a href="{{ item.company.website }}">{{ item.company.website }}</a></p>
            </div>
            <div class="mb-3">
              <label class="form-label">Adresse email:</label>
              <p>{{ item.company.email_address }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Adresse physique:</label>
              <p>{{ item.company.physical_address }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Ville:</label>
              <p>{{ item.company.city }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Personne à contacter:</label>
              <p>{{ item.company.contact_name }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Notes:</label>
              {% if item.notes %}
              <ul>
                {% for note in item.notes %}
                <li>{{ note.content }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>Aucune note pour cette entreprise.</p>
              {% endif %}
            </div>
                        <div class="mb-3">
                <label class="form-label">Documents :</label>
                {% if item.documents %}
                    <ul>
                        {% for document in item.documents %}
                            {% if document.document %}
                                <li><a href="{{ document.document.url }}" target="_blank">{{ document.document.name }}</a></li>
                            {% else %}
                                <li>Document sans fichier associé</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun document pour cette entreprise.</p>
                {% endif %}
            </div>
            <a href="{% url 'add_document' item.company.id %}" class="btn btn-primary">Ajouter un document</a>
        </div>
    </div>
      <a href="{% url 'company_job_ads' company_id=item.company.id %}" class="btn btn-primary">Voir les {{ item.company.job_ads.count }} offres d'emploi</a>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
