/* Variables */
:root {
  --primary-color: #07ff20;
  --secondary-color: #2d2d2d;
}

/* Corps de la page */
body {
  background-color: var(--secondary-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 100px; /* Hauteur de la navbar + 20px de marge */
  margin-bottom: 80px;
}

/* Navigation */
.navbar {
  background-color: var(--primary-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

/* Boutons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

/* Centre le tableau */
.table-responsive {
  margin: 50px auto;
  max-width: 80%;
}

/* Tableau */
.table {
  color: #fff;
  background-color: #000;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table thead th {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.table tbody td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table tbody td:last-child a {
  color: var(--primary-color);
}

.table tbody td:last-child a:hover {
  color: #8bc34a;
}

.table tbody td:last-child a.add-btn:hover {
  color: #8bc34a;
}

.add-company-btn {
  display: block;
  margin-bottom: 20px;
  background-color: #72bf44;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.table-responsive {
  margin-top: 150px;
  overflow-y: auto;
  max-height: 800px;
}

/* Formulaire */
.add-company-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 50px auto;
}

.limited-width {
  max-width: 250px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-label {
  font-weight: bold;
}

.form-label a {
  display: block;
  margin-top: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

/* Titre */
.add-company-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Cards d'annonces */
.card-custom {
  width: 550px;
  height: 1000px;
  background: transparent;
  border: 2px solid #07ff07;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico';
}

.gradient-bg {
  background: #fff;
  background-image: linear-gradient(to bottom right, #07ff07, #b6d67e);
}

.card:hover {
  color: #07ff07;
  box-shadow: 2px 2px 15px #07ff07 inset;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:
}
.card-subtitle {
  font-size: 16px;
  margin-bottom: 1rem

.card-container {
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 800px;

.row {
    margin-top: 100px ;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination .step-links {
  display: flex;
  gap: 10px;
}

.pagination a,
.pagination .step-links a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover,
.pagination .step-links a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.pagination .current {
  color: var(--primary-color);
  font-weight: bold;
  padding: 5px 10px;
}

