/* Variables */
:root {
  --primary-color: #08C5D1;
  --secondary-color: #00353F;
}

a {
  text-decoration: none; !important
}

/* Corps de la page */
body {
  background-color: var(--secondary-color) !important;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 80px;
}

/* Navigation */
.navbar {
  background-color: var(--primary-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

/* Boutons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

/* Centre le tableau */
.table-responsive {
  margin: 50px auto;
  max-width: 80%;
}

/* Tableau */
.table {
  color: #fff;
  background-color: #00353F;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table thead th {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.table tbody td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table tbody td:last-child a {
  color: var(--primary-color);
}

.table tbody td:last-child a:hover {
  color: #8bc34a;
}

.table tbody td:last-child a.add-btn:hover {
  color: #8bc34a;
}

.add-company-btn {
  display: block;
  margin-bottom: 20px;
  background-color: #72bf44;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.table-responsive {
  margin-top: 150px;
  overflow-y: auto;
  max-height: 800px;
}

/* Cards d'annonces */
.card {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #08C5D1;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: #08C5D1;
  font-family: 'Pacifico';
}

.card:hover {
  color: #08C5D1;
  box-shadow: 2px 2px 15px #08C5D1 inset;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #FFBF66;
  font-family: Arial, sans-serif;
}

.card-subtitle {
  font-size: 16px;
  color: #D46F4D;
  font-family: Arial, sans-serif;
}

.card-text {
  margin-bottom: 5px;
  color: #FFBF66;
  font-size: 30px;
}

.card-title.no-underline a {
  text-decoration: none !important;
  color: inherit !important;
}

.row {
  margin-top: 100px;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.pagination a,
.pagination span {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
}

.pagination .current {
  font-weight: bold;
  color: #3cb371;
  border-color: #3cb371;
}

.pagination a:hover {
  background-color: #eee;
}

.pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.sort-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.sort-form label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

.sort-form select {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sort-form select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  border-color: #007bff;
}

.form-select {
  max-width: 200px;
}

label[for="sort_by"] {
  color: #000000;
}

.add-company-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.add-company-form h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.add-company-form form label {
  font-size: 16px;
  color: #333;
}

.add-company-form form input[type="text"] {
  font-size: 16px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.add-company-form form button[type="submit"] {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.add-company-form form button[type="submit"]:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Barre de recherche */
.search-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.search-container input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-right: 10px;
}

.search-container button[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: #8bc34a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.search-container button[type="submit"]:hover {
  background-color: #689f38;
  color: var(--secondary-color);
}

.add-annonce-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.btn-custom {
  background-color: blue;
}

